<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="WrapperSettings" type="GastrOs.Wrapper.Helpers.WrapperConfigurationSection, GastrOs.Wrapper"/>
    <sectionGroup name="GastrOsSDE" type="GastrOs.Sde.Configuration.GastrOsConfigurationSectionGroup, GastrOs.Sde">
      <section name="Engine" type="GastrOs.Sde.Configuration.EngineConfigurationSection, GastrOs.Sde"/>
      <section name="Layout" type="GastrOs.Sde.Configuration.LayoutConfigurationSection, GastrOs.Sde"/>
      <section name="UnityContainer" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </sectionGroup>
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <!--property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">Data Source=..\..\gastros.db;Version=3</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="query.substitutions">true=1;false=0</property-->

      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.JetDriver.JetDialect, NHibernate.JetDriver</property>
      <property name="connection.driver_class">NHibernate.JetDriver.JetDriver, NHibernate.JetDriver</property>
      <property name="connection.connection_string">Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\GastrOS.mdb</property>

      <!--property name="connection.connection_string">Data Source=KGMOBILETANK\SQLEXPRESS;Initial Catalog=..\..\GastrOS_DB;Integrated Security=SSPI</property>
      <property name="connection.connection_string">Data Source=GastrOS.sdf; Persist Security Info=False; File Mode=Exclusive</property>
      <property name="dialect">NHibernate.Dialect.MsSqlCeDialect</property-->

      <property name="show_sql">false</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <mapping assembly="GastrOs.Wrapper" />
    </session-factory>
  </hibernate-configuration>
  
  <WrapperSettings startupMode="normal"
                   knowledgePath="..\..\..\..\..\Knowledge"
                   language="en-NZ" />

  <!-- All settings related to the GastrOs SDE component -->
  <GastrOsSDE>
    <!-- SDE core settings -->
    <Engine containerForWidgets="winforms" annotationIdForDirectives="default">
      <presenceSemantics descForNull="Presence=null"
                         descForPresent="Presence=present"
                         descForUnknown="Presence=unknown"
                         descForAbsent="Presence=absent" />
    </Engine>

    <!-- Settings to fine-tune how generated SDE widgets are sized and positioned -->
    <Layout labelWidth="140" inputWidth="180" coreConceptCheckWidth="150" quantDecimalPlaces="2">
      <defaultFont family="Arial" size="9" />
      <defaultFormSize width="800" height="640" />
      <defaultMargin left="3" top="1" right="3" bottom="1" />
      <defaultFieldMargin left="3" top="0" right="3" bottom="0" />
    </Layout>

    <!-- Settings for the Unity Container, which instantiates appropriate implementations of SDE view classes -->
    <UnityContainer xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <namespace name="GastrOs.Sde.ViewControls"/>
      <namespace name="GastrOs.Sde.Views"/>
      <namespace name="GastrOs.Sde.Views.WinForms"/>
      <namespace name="GastrOs.Wrapper.Reports"/>
      <assembly name="GastrOs.Sde"/>
      <assembly name="GastrOs.Sde.Views.WinForms"/>
      <assembly name="GastrOs.Wrapper"/>
      <container name="winforms">
        <register type="ITextView" name="default" mapTo="TextWidget"></register>
        <register type="ITextView" name="multi" mapTo="MultilineTextWidget"></register>
        <register type="IListView" name="default" mapTo="CodedTextWidget"></register>
        <register type="IListView" name="radio" mapTo="RadioWidget"></register>
        <register type="INumericView" mapTo="NumericWidget"></register>
        <register type="INumericUnitView" mapTo="QuantityWidget"></register>
        <register type="ICoreConceptView" mapTo="CoreConceptWidget"></register>
        <register type="IContainerView" name="default" mapTo="SimpleContainerWidget"></register>
        <register type="IContainerView" name="tabbed" mapTo="TabbedContainerWidget"></register>
        <register type="IMultiChoiceView" mapTo="MultiChoiceWidget"></register>
        <register type="ISplasherView`1" mapTo="SplasherWidget`1"></register>
      </container>
      <container name="localisation">
        <register type="IReportFormatter" name="en-US" mapTo="DefaultReportFormatter"/>
        <register type="IReportFormatter" name="en-GB" mapTo="DefaultReportFormatter"/>
        <register type="IReportFormatter" name="en-NZ" mapTo="DefaultReportFormatter"/>
        <register type="IReportFormatter" name="en-AU" mapTo="DefaultReportFormatter"/>
        <register type="IReportFormatter" name="en-CA" mapTo="DefaultReportFormatter"/>
        <register type="IReportFormatter" name="tr-TR" mapTo="TurkishReportFormatter"/>
      </container>
    </UnityContainer>
  </GastrOsSDE>
</configuration>