<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="GastrOsSDE" type="GastrOs.Sde.Configuration.GastrOsConfigurationSectionGroup, GastrOs.Sde">
      <section name="Engine" type="GastrOs.Sde.Configuration.EngineConfigurationSection, GastrOs.Sde"/>
      <section name="Layout" type="GastrOs.Sde.Configuration.LayoutConfigurationSection, GastrOs.Sde"/>
      <section name="UnityContainer" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </sectionGroup>
  </configSections>
  
  <GastrOsSDE>
    <!-- SDE core settings -->
    <Engine unityContainer="winforms" annotationIdForDirectives="default">
      <presenceSemantics descForNull="Presence=null"
                         descForPresent="Presence=present"
                         descForUnknown="Presence=unknown"
                         descForAbsent="Presence=absent" />
    </Engine>

    <!-- Settings to fine-tune how generated SDE widgets are sized and positioned -->
    <Layout labelWidth="140" inputWidth="180" coreConceptCheckWidth="150" quantDecimalPlaces="2">
      <defaultFont family="Arial" size="9" />
      <defaultFormSize width="800" height="640" />
      <defaultMargin left="3" top="1" right="3" bottom="1" />
      <defaultFieldMargin left="3" top="0" right="3" bottom="0" />
    </Layout>

    <!-- Settings for the Unity Container, which instantiates appropriate implementations of SDE view classes -->
    <UnityContainer xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <namespace name="GastrOs.Sde.ViewControls"/>
      <namespace name="GastrOs.Sde.Views"/>
      <namespace name="GastrOs.Sde.Views.WinForms"/>
      <assembly name="GastrOs.Sde"/>
      <assembly name="GastrOs.Sde.Views.WinForms"/>
      <container name="winforms">
        <register type="ITextView" name="default" mapTo="TextWidget"></register>
        <register type="ITextView" name="multi" mapTo="MultilineTextWidget"></register>
        <register type="IListView" name="default" mapTo="CodedTextWidget"></register>
        <register type="IListView" name="radio" mapTo="RadioWidget"></register>
        <register type="INumericView" mapTo="NumericWidget"></register>
        <register type="INumericUnitView" mapTo="QuantityWidget"></register>
        <register type="ICoreConceptView" mapTo="CoreConceptWidget"></register>
        <register type="IContainerView" name="default" mapTo="SimpleContainerWidget"></register>
        <register type="IContainerView" name="tabbed" mapTo="TabbedContainerWidget"></register>
        <register type="IMultiChoiceView" mapTo="MultiChoiceWidget"></register>
        <register type="ISplasherView`1" mapTo="SplasherWidget`1"></register>
      </container>

      <!--container name="mock">
        <register type="ITextView" name="default" mapTo="MockTextView"></register>
        <register type="ITextView" name="default" mapTo="MockTextView"></register>
        <register type="ICodedTextView" mapTo="MockCodedTextView"></register>
        <register type="INumericView" mapTo="MockNumericView"></register>
        <register type="INumericUnitView" mapTo="MockNumericUnitView"></register>
        <register type="ICoreConceptView" mapTo="MockCoreConceptView"></register>
        <register type="IContainerView" name="simple" mapTo="MockContainerWidget"></register>
        <register type="IContainerView" name="tabbed" mapTo="MockContainerWidget"></register>
        <register type="IMultiChoiceView" mapTo="MockMultiChoiceView"></register>
        <register type="ISplasherView`1" mapTo="MockSplasherView`1"></register>
      </container-->
    </UnityContainer>
  </GastrOsSDE>
</configuration>